body{
  background-color: rgb(240,240,240);
  color: black;
  margin :0;
  margin-top: 0;
}

.bg-img-about {
  /* The image used */
  background: linear-gradient(rgba(200,200,200,0.5),rgba(200,200,200,0.5)),url("about-main.jpeg");

  min-height: 400px;
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  margin:0;
  
}

nav a{
  color: white;
  font-family:'Playfair Display', serif;
  font-weight: 600;
  padding: 14px 16px;
  text-decoration: none;
  /* text-shadow: 2px 2px 8px #000000; */
  font-size: 17px;
}

#mynavbar a:hover{
  background-color: darkgreen;
  color: white;
}

h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    margin-top: 80px; 
    font-weight: 200;
    font-size: 72px;
    color: white;
    text-align: center;
}


h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}


.topnav {
  overflow: hidden;
  background-color: none;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-family:'Playfair Display', serif;
  font-weight: 600;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 2px 2px 8px #000000;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Right-aligned link */
.topnav a.right {
  float: right;
}


.newh1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  text-align: center;  
  color:	#3CB371;
   /*	*/
}


.about{
	column-count: 2;
	column-gap: 50px;
  padding: 10px;
}

.working{
	width: 650px;

}

.about1{
	font-family: 'Poppins', sans-serif, 'arial';
	color: black;
  text-align: center;
  font-size: 30px;
  color:	#3CB371;
}

.about1 span{
  font-family: 'Poppins', sans-serif, 'arial';
	color: black;
  text-align: center;
  font-size: 20px;
  color:	darkgreen;
}

.about2{
	font-family: 'sans-serif' ;
	color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-left: 20px;
    
}

.about img{
  width: 80%;
  margin-left: 100px;
}

.management{
	/* margin-left: 200px;
	margin-right: 200px; */
  padding: 30px;
	text-align: center;
  font-family: 'sans-serif';
  font-size: 20px;
}

.management h3{
  color: darkgreen; 
  font-weight: 100px;
}

.management-names{
	margin-right: 30px;
	margin-left:30px;
	column-count: 2;
	text-align: justify;
	font-family: 'Poppins';
	font-size: 18px;

}
.management-images{
	width: 200px;
	height: 200px;
	border-radius: 50%;
  margin-left: 140px;
}


/* @media (min-width : 1200px) {

  .about2 {
    font-size: 14px;
  }
} */

@media (min-width : 1000px) and (max-width : 1199px){
  .about1{
    font-size: 25px;
  }

  .about2{
    font-size: 13px;
  }
}
@media (min-width : 768px) and (max-width : 999px){
  .about1{
    font-size: 18px;
  }
  .about2{
    
    font-size: 12px;
  }
  .about img{
    width: 100%;
    margin-left: 50px;
  }

  .management p {
    font-size: 16px;
  }

  .management-names{
    font-size: 15px;
  }

  .management-images{
    margin-left: 90px;
  }
}

@media (max-width : 767px){

  .about1{
    font-size: 16px;
  }
  .about2{
    
    font-size: 10px;
  }
  .about img{
    width: 300px;
    height: 250px;
    margin-left: 10px;
  }

  .management p {
    font-size: 13px;
  }

  .management-names{
    font-size: 12px;
  }

  .management-images{
    margin-left: 40px;
    width: 150px;
	  height: 150px;

  }
}

@media (min-width : 444px) and (max-width : 571px){

  .about1{
    font-size: 10px;
  }
  .about2{
    margin-left: 13px;
    font-size: 7px;
  }

  .about1 span {

    font-size: 7px;

  }
  .about img{
    width: 250px;
    height: 200px;
    margin-left: 10px;
  }
 
}

@media (max-width: 445px){

  .about1{
    font-size: 13px;
    margin-left: 10px;
  }

  .about1 span{
    font-size: 7px;
  }
  .about2{
    
    font-size: 7px;
  }
  .about img{
    width: 200px;
    height: 250px;
    margin-left: 10px;
  }
  .management p {
    font-size: 10px;
    margin-left: 10px;
  }

  .management-names{
    font-size: 9px;
  }

  .management-images{
    margin-left: 20px;
    width: 100px;
	  height: 100px;

  }
}

h3{
	font-size: 30px;
	 font-family: 'Poppins';
}


.saniya{
	margin-top: 50px; 
}

.abc1{
	text-align: center;
}

footer{

  background-color: rgb(78, 91, 107);
  margin-top: 100px;
  height:100%;
  width: 100%;
  position: static;
  bottom: 0;
}

.footer-distributed{
background-color: #2c292f;
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 40px 30px 20px 40px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 30%;
}

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
display: inline-block;

margin: 0;
}

/* The company Name */

.footer-distributed h3 {
font-size: 23.75px;
font-weight: 100;
font-family: 'Playfair Display', serif,cursive;
text-shadow: none;
display: inline-flex;

}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}

.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  white;
text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
width: 30%;
padding-left: 30px;
}

.footer-distributed .footer-company-about { 
line-height: 20px;
color:  white;
font-size: 20px;
font-family: "times new roman";
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-properties a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  #3CB371;
}

.footer-distributed .footer-properties p{
color:white;
}

/****** Large Devices Only ******/
@media (min-width : 1200px) {

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
}

/****** Medium Devices Only ******/
@media (min-width : 992px) and (max-width : 1199px) {

.footer-center3{
  margin-top: 60px;
}

}


/****** Small Devices Only ******/
@media (min-width : 768px) and (max-width : 991px) {

.footer-center1{
  font-size: 14px
}

.footer-center3{
  font-size: 14px;
  margin-top: 60px;
}
}

/****** Extra Small Devices Only ******/
@media (max-width : 767px) {

.footer-distributed .footer-center{
  width: 20%;
}

.footer-distributed .footer-right{
  padding-left: 50px;
}

.footer-distributed .footer-left{
  padding-right: 50px;
}

.footer-center3{
  margin-top: 20px;
  font-size: 10px;
}
}
